@{
  Layout = "_Layout";
}

@model Library.Models.Book;

<h2>Book Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Authors.Count == 0)
{
  <p>This Books does not contain any Authors</p>
}
else
{
  <h4>Authors the Book contains:</h4>
  <ul>
  @foreach(var join in Model.Authors)
  {
    <li>@join.Author.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Books", "Index")</p>
<p>@Html.ActionLink("Edit Books", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete Books", "Delete", new { id = Model.BookId })</p>