@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h2>Author Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Books.Count == 0)
{
  <p>This Author does not belong to any Books</p>
}
else
{
  <h4>Book Title: @Html.DisplayFor(model => model.Name)</h4>
  <h4>Books the Author belongs to:</h4>
  <ul>
  @foreach(var join in Model.Books)
  {
    <li>@join.Book.Name</li>
    @using (Html.BeginForm("DeleteBook", "Authors"))
    {
      @Html.Hidden("joinId", @join.BookAuthorId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to Authors", "Index")</p>
<p>@Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Add a Book", "AddBook", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorId })</p>